a {
    color:#0066c0;
    text-decoration:underline;
}

.button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px 10px;   /* 余白       */
  margin        : 5px 5px;   /* 余白       */
  background    : rgba(0, 102, 192, 0.89);     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid rgba(0, 102, 192, 0.89);/* 枠の指定 */
  text-decoration:none;
}
.button:hover {
  color         : rgba(0, 102, 192, 0.89);     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.delete {
  color: #e41313;
  text-decoration:underline;
}